environment                   = "dev"
fabric_workspace_name         = "banana_123000100101-233"
fabric_environment_name       = "banana-123000100101-233"
fabric_spark_custom_pool_name = "banana-123000100101-233"
fabric_lakehouse_name         = "banana_123000100101_233"
