environment                   = "dev"
fabric_workspace_name         = "data-engineering-001"
fabric_environment_name       = "data-engineering-001"
fabric_spark_custom_pool_name = "data-engineering-001"
fabric_lakehouse_name         = "data_engineering_001"
